ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

li {
  margin-bottom: 0;
  text-align: center;
}

button {
  background-color: #ffffff;
  color: #cf77ca;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
  transition: transform 0.2s, background-color 0.3s;
  white-space: nowrap;
}

button:hover {
  transform: scale(1.1);
  background-color: #e0e0e0;
}

img {
  position: fixed; /* fixe par rapport à la fenêtre */
  top: 50%; /* place le bord haut au centre vertical */
  left: 50%; /* place le bord gauche au centre horizontal */
  transform: translate(-50%, -50%); /* centre parfaitement */
  max-width: 400px; /* image plus grande */
  height: auto;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  z-index: 1000; /* assure qu'elle s'affiche au-dessus */
}
