.accueil-container {
  display: flex;
  justify-content: center;
  align-items: center;     
  height: calc(100vh - 140px); 
  background-color: #f5f5f5;  
}

main-content {
  margin-bottom: 80px; 
}
